{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Discard</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="lines lines-1"></div>
    <div class="lines lines-2"></div>
    <div class="header">
      <span class="product-title">
        <img src="/static/image/logo.jpeg" class="logo" alt="logo" /> Discard
      </span>
      <h1 class="title">The protection that works for you</h1>
      <p class="subtitle">
        Eliminate harassment on Discord, safeguarding the 44.6% of users under
        24. Get started for free.
      </p>
      <a class="cta" href="/manage">Get Started</a>
    </div>
  </body>
</html>