<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Discard Turnstile Test</title>
    </head>
    <body>
        <p>Solve the following turnstile to verify your message</p>
        {{ guild_name }}
        {% for message in messages %}
            <h1>Message</h1>
            {{ message.username }}
            {{ message.content }}
            {% for attachment in message.attachments.all %}
                {{ attachment.url }}
            {% endfor %}
            {{ message.reason }}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="message_id" value="{{ message.id }}">
                <input type="hidden" name="action" value="ban">
                <input type="submit" value="Ban">
            </form>
        {% endfor %}
    </body>
</html>